<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>가상 트레이딩 시뮬레이터</h2>
    <form action="virtualTradingLogic" method="get">
        처음 시작금을 입력하세요(원)<input type="number" name="seedMoney"/><br>
        매매리스크를 입력하세요(퍼센트)<input type="number" name="risk"/><br>
        손익비를 입력하세요<input type="number" name="PLRatio"/><br>
        매매확률을 입력하세요<input type="number" name="chance"/><br>
        매매할 기간을 입력하세요(일 단위)<input type="number" name="tradingDays"/><br>
        <input type="submit" value="수익금 계산하기"/>
    </form>
</body>
</html>