<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>메뉴 관리 KIOSK</h1>
    <!--조회-->

    <!--    전체조회-->
    <h3>모든 메뉴조회하기</h3>
    <button onclick="location.href='menu/searchAllMenu'">모든 메뉴 조회</button>
    <!--    개별조회            -개별조회 페이지로 먼저 이동-->
    <h3>개별메뉴조회하기</h3>
    <button onclick="location.href='menu/searchView'">단일 메뉴 조회</button>
    <!--등록          -등록 페이지로 이동-->
    <h3>메뉴등록하기</h3>
    <button onclick="location.href='menu/registView'">메뉴 등록하기</button>
    <!--삭제          -삭제 페이지로 이동-->
    <h3>메뉴삭제하기</h3>
    <button onclick="location.href='menu/deleteView'">메뉴 삭제하기</button>
    <br><br><br><br>
    <button onclick="location.href='menu/virtualTradingSimulator'">가상트레이딩시뮬레이터</button>
    <br><br><br><br>
    <form action="menu/logOut" method="post">
        <input type="submit" value="로그아웃"/>
    </form>


</body>
</html>